* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a202c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.logo {
  font-family: "Press Start 2P", cursive;
}
